In [3]:
import pandas as pd
arr=['p','r','s','q','t']
s1=pd.Series(arr)
s1

0    p
1    r
2    s
3    q
4    t
dtype: object

In [5]:
type(s1)

pandas.core.series.Series

In [7]:
s1[0],s1[1]

('p', 'r')

In [11]:
order=[1,2,3,3,3]
s2=pd.Series(arr,index=order)
s2

1    p
2    r
3    s
3    q
3    t
dtype: object

In [12]:
s2[3]

3    s
3    q
3    t
dtype: object

In [16]:
names = ["Akshit" , "Madhav", "Kedar" ,"Ajay" ,"Vaibhav"]
s3=pd.Series(arr , index = names)
s3

Akshit     p
Madhav     r
Kedar      s
Ajay       q
Vaibhav    t
dtype: object

In [18]:

s3=pd.Series(["Akshit" , "Madhav", "Kedar" ,"Ajay" ,"Vaibhav"] , index =['p','r','s','q','t'])
s3

p     Akshit
r     Madhav
s      Kedar
q       Ajay
t    Vaibhav
dtype: object

In [20]:
s3["p"]

'Akshit'

In [22]:
s3["p":"s"]

p    Akshit
r    Madhav
s     Kedar
dtype: object

In [25]:
names = ["Akshit" , "Madhav", "Kedar" ,"Ajay" ,"Vaibhav"]
s4=pd.Series(names)
s4

0     Akshit
1     Madhav
2      Kedar
3       Ajay
4    Vaibhav
dtype: object

In [26]:
s4[0:3]

0    Akshit
1    Madhav
2     Kedar
dtype: object

In [28]:
s3.index

RangeIndex(start=0, stop=5, step=1)

In [29]:
s4.index

RangeIndex(start=0, stop=5, step=1)

In [33]:
s3[s3=="Madhav"]

1    Madhav
dtype: object

In [39]:
s3=="Akshit"

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [40]:
d={'a':1,'b':2,'c':3,'d':4,'e':5}
s3=pd.Series(d)
s3

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [41]:
s1

0    p
1    r
2    s
3    q
4    t
dtype: object

In [44]:
s4=s1.append(s2)
s4

C:\Users\madha\AppData\Local\Temp\ipykernel_6636\2562205657.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s4=s1.append(s2)

0    p
1    r
2    s
3    q
4    t
1    p
2    r
3    s
3    q
3    t
dtype: object

In [45]:
ser1=pd.Series([100,20,10,150,60],index=["india","nepal","china","japan","korea",])
ser2=pd.Series([100,20,10,150,60],index=["india","nepal","china","japan","korea",])
ser1

india    100
nepal     20
china     10
japan    150
korea     60
dtype: int64